*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

html{
    background-color: #181818;
    color: #e7e7e7;
}

header{
    padding: .5rem 1rem 1.5rem;
    background-color: red;
    display: flex;
    flex-direction: column;

}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

img{
    filter: brightness(3);
    width: 70px;
    padding: 0;
    margin-left: -20px;
    margin-right: -6px;
}

.seachBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.seachBar i{
    color: red;
    position: absolute;
    left: 1rem;
}

#textSearch{
    border: none;
    outline: none;
    padding:  .8rem;
    border-radius: 2rem;
    width: 80%;
    box-shadow: inset 0 2px 3px grey;
}

#textSearch::placeholder{
    padding-left: 2rem;
    letter-spacing: .5px;
}

.btnPesquisa{
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: red;
    font-size: 1.3rem;
    box-shadow: inset 0 2px 3px grey;
}